body {
    outline: 1px solid red;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    margin: 0;
    border: 0;
    padding: 0;
    
}


.menu-title {
    font-family: "Marcellus";
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    text-decoration: none;
}

.menu-checked {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
